* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /*10px easy rem calc*/
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(83,9,121,1) 57%, rgba(0,212,255,1) 100%);
}

#container {
    width: 300px;
    outline: 5px solid white;
    background-color: white;
}

#operand-display {
    color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px 5px 5px;
    background-color: rgb(10, 90, 136);
}

#previous-operand, #current-operand {
    text-align: right
}

#previous-operand {
    font-size: 1.5rem;
}

#current-operand {
    font-size: 3rem;
    font-weight: bold;
}

#button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn{
    color: white;
    padding: 20px 0;
    border: none;
    font-size: 1.7rem;
    font-weight: bolder;
    cursor: pointer;
}

.number-btn {
    background-color: rgb(41, 31, 46);
}


.all-clear-btn, .delete-btn {
    background-color: rgb(41, 31, 46);
    color: rgba(0,212,255,1);
}


.operation-btn, .decimal-btn{
    background-color: rgb(80, 1, 110);
    font-size: 2rem;
}


.btn:hover {
    opacity: 0.9;
}

#equal-btn {
    grid-area: 5 / 2/ 6/ 5;
    background: rgb(41,31,46);
    background: linear-gradient(45deg, rgba(41,31,46,1) 25%, rgba(80,1,110,1) 74%);
}
