* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    width: 300px;
    outline: 1px solid black;

}

#operand-display {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

#previous-operand, #current-operand {
    text-align: right
}

#previous-operand {
    font-size: 1.1rem;
}

#current-operand {
    font-size: 2rem;
    font-weight: bold;
}

#button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn{
    padding: 10px 0;
    border: none;
}

#equal-btn {
    grid-area: 5 / 2/ 6/ 5;
}